@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap");


@font-face {
   font-family: "Cal Sans";
   font-display: swap;
   src: url(../fonts/webfonts/CalSans-SemiBold.woff2) format("woff2"), url(../fonts/webfonts/CalSans-SemiBold.woff) format("woff");
   font-weight: 400;
   font-style: normal;
}


body {
   font-family: "Poppins";
   color: #666666;
}

.wrapper {
   overflow: hidden;
   min-height: 100%;
   position: relative;
   display: flex;
   flex-direction: column;
}

.page {
   flex: 1 1 auto;
}

.page__main {}

.page__store {}

.page__categories {}

[class*="__container"] {
   max-width: 1230px;
   margin: 0 auto;
   padding: 0 15px;
}

/* ============================ COMMON ======================================= */
.title {
   font-family: 'Cal Sans';
   font-weight: 600;
   font-size: 44px;
   line-height: 1.2;
   color: #121212;
   text-align: center;
}

.title span {
   color: #FF6428;
}

@media(max-width:767.98px) {
   .title {
      font-size: 38px;
   }
}


/* ============================ HEADER  ================================== */
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 50;
}

.header__container {
   padding-top: 5px;
   padding-bottom: 5px;
   display: flex;
   gap: 131px;
   min-height: 152px;
   align-items: center;
}

.header__logo {}

.header__menu {}

.menu {
   padding: 10px 15px 5px 0;
   background: rgba(255, 255, 255, 0.8);
   border-radius: 5px;
}

.menu__list {
   display: flex;
   column-gap: 56px;
   row-gap: 10px;
   flex-wrap: wrap;
}

.menu__item {}

.menu__link {
   color: rgba(18, 18, 18, 0.4);
   font-weight: 500;
   position: relative;
   transition: 0.400ms;
}

.menu__link:hover::before {
   content: "";
   width: 100%;
   height: 2px;
   background: #FF6428;
   position: absolute;
   bottom: -5px;
   left: 0;
}

@media (max-width: 1092px) {
   .header__container {
      gap: 50px;
      min-height: 100px;
   }

   .menu__list {
      column-gap: 40px;
   }
}

@media (max-width: 767.98px) {
   .header__container {
      min-height: 65px;
   }
}

@media (max-width: 479.98px) {
   .header__container {
      gap: 15px;
   }

   .menu {
      padding: 0;
   }

   .menu__list {
      column-gap: 20px;
   }

   .header__logo {
      width: 28px;
      flex: 0 0 28px;
      overflow: hidden;
   }
}

/* ================================= MAIN ================================== */
.main {
   padding-bottom: 80px;
}


.main__container {
   display: flex;
}

.main__content {
   /* flex: 0 1 50%; */
   align-self: flex-end;
   padding-bottom: 62px;
   padding-right: 20px;
   padding-top: 120px;
}

.main__title {
   font-family: 'Cal Sans';
   font-weight: 600;
   font-size: 56px;
   line-height: 1.2;
   color: #121212;
}

.main__title:not(:last-child) {
   margin-bottom: 16px;
}

.main__title span {
   color: #FF6428;
}

.main__text {
   font-weight: 500;
   line-height: 24px;
   max-width: 420px;
}


.main__text:not(:last-child) {
   margin-bottom: 33px;
}

.actions-main {
   display: flex;
   align-items: center;
}

.actions-main__button {
   text-align: center;
   padding: 18.5px 48px;
   background: #FF6428;
   border-radius: 40px;
   color: #fff;
   font-weight: 600;
   line-height: 28px;
   transition: all 0.3s ease 0s;
}

.actions-main__button:hover {
   background: #ba4619;
}

.actions-main__button:not(:last-child) {
   margin-right: 40px;
}

.actions-main__icon {}

.actions-main__icon:not(:last-child) {
   margin-right: 28px;
}

.main__decor {
   /* flex: 0 1 50%; */
}


.main__decor {}

.main__img {
   margin-right: -135px;
   position: relative;
   display: inline-block;
}

.main__img img {
   max-width: 672px;
}

.main__img::after {
   content: url(../img/main/decor.svg);
   position: absolute;
   width: 80px;
   height: 80px;
   right: 36.6%;
   bottom: 0;
   transform: translate(0, 50%);
}


@media (max-width: 1092px) {

   .main__img img {
      width: 100%;
   }

   .main__content {
      flex: 0 0 60%;
      padding-bottom: 0;
   }

   .main__decor {
      flex: 0 0 40%;
   }
}

@media (max-width: 991.98px) {
   .main {
      padding-bottom: 50px;
   }
}

@media (max-width: 767.98px) {
   .main {
      padding-bottom: 30px;
   }


   .main__content {
      flex: 1 1 100%;
      padding-right: 0;
      padding-top: 80px;
   }

   .main__decor {
      display: none;
   }

   .main__title {
      font-size: 44px;
   }
}

@media (max-width: 479.98px) {
   .actions-main {
      flex-wrap: wrap;
      justify-content: center;
   }

   .actions-main__button {
      flex: 1 1 100%;
   }

   .actions-main__button:not(:last-child) {
      margin-right: 0;
      margin-bottom: 15px;
   }
}

/* ============================== STORE =================================== */
.store {
   padding-top: 80px;
   padding-bottom: 90px;
}

.store__container {}

.store__title {
   margin-bottom: 86px;

}

.title {}

.store__body {}

.body-store:not(:last-child) {
   margin-bottom: 96px;
}

.body-store__header {
   display: flex;
   justify-content: space-between;
   gap: 15px;
   flex-wrap: wrap;
   align-items: center;
   margin-bottom: 32px;
}

.body-store__title {
   font-weight: 600;
   font-size: 20px;
   line-height: 1.5;
   letter-spacing: 0.08em;
   color: #121212;
}

.body-store__all {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   color: #868686;
   transition: color 1s ease;
}

.body-store__all:hover {
   color: #FF6428;
}

.body-store__list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 54px;
}

.body-store__item {}

.item__img {
   text-align: center;
   display: inline-block;
}

.item__img:not(:last-child) {
   margin-bottom: 40px;
}

.item__img img {
   max-width: 100%;
}

.item__title {
   font-weight: 500;
   line-height: 1.5;
   color: #121212;
   margin-bottom: 7px;
   display: inline-block;
   position: relative;
   transition: 1s ease;
   justify-self: start;
}

.item__title:hover::before {
   content: "";
   width: 100%;
   height: 2px;
   background: #FF6428;
   position: absolute;
   bottom: -1px;
}

.item__price {
   font-size: 14px;
   line-height: 1.5;
}

@media (max-width: 991.98px) {
   .store {
      padding-bottom: 50px;
      padding-top: 50px;
   }

   .store__title {
      margin-bottom: 50px;
   }

   .body-store__list {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 767.98px) {
   .store {
      padding-bottom: 30px;
      padding-top: 30px;
   }

   .store__title {
      margin-bottom: 20px;
   }

   .item__img:not(:last-child) {
      margin-bottom: 20px;
   }
}

@media (max-width: 560px) {
   .body-store__list {
      grid-template-columns: repeat(1, 1fr);
   }
}

/* ============================ CATEGORIES =============================== */

.categories {
   padding-top: 90px;
   padding-bottom: 110px;
}

.categories__title {
   margin-bottom: 80px;
}

.categories__list {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 70px;
   row-gap: 35px;
}

.categories__item {}

.item-categories {
   position: relative;
}

.item-categories:hover .item-categories__img img {
   transform: scale(1.1);
}

.item-categories__title {
   position: absolute;
   bottom: 30px;
   left: 50%;
   transform: translate(-50%, -50%);
   font-weight: 600;
   font-size: 20px;
   line-height: 1.5;
   color: #FFFFFF;
   z-index: 3;
}

.item-categories__img::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
   z-index: 2;
}

.item-categories__img {
   position: relative;
   padding-bottom: 127%;
   overflow: hidden;
   border-radius: 25px;
}

.item-categories__img img {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   object-fit: cover;
   transition: all 0.3s ease 0s;
}

@media (max-width: 1230px) {
   .categories__list {
      column-gap: 40px;
   }
}

@media (max-width: 991.98px) {
   .categories {
      padding-top: 50px;
      padding-bottom: 50px;
   }

   .categories__list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
   }

   .categories__title {
      margin-bottom: 50px;
   }

}

@media (max-width: 767.98px) {
   .categories {
      padding-top: 30px;
      padding-bottom: 30px;
   }

   .categories__title {
      margin-bottom: 20px;
   }
}

@media (max-width: 479.98px) {
   .categories__list {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
   }
}

/* =======================BRANDS ============================= */
.brands {
   padding: 110px 0 180px;
}

.brands__container {}

.brands__title {
   margin-bottom: 75px;
}

.title {}

.brands__list {
   max-width: 1020px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(4, auto);
   justify-content: space-between;
   align-items: center;
   column-gap: 20px;
   row-gap: 80px;
}

.brands__img img {
   max-width: 100%;
}

@media (max-width: 991.98px) {
   .brands {
      padding: 50px 0 50px;
   }

   .brands__title {
      margin-bottom: 40px;
   }

   .brands__list {
      grid-template-columns: repeat(3, auto);
      row-gap: 50px;
   }
}

@media (max-width: 767.98px) {
   .brands {
      padding: 30px 0 30px;
   }

   .brands__title {
      margin-bottom: 20x;
   }
}

@media (max-width: 660px) {
   .brands__list {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
      row-gap: 20px;
   }
}

/* =========================================================== */
.why {
   background: #121212;
   padding: 90px 0 90px;
}

.why__title {
   color: #fff;
   margin-bottom: 75px;
}

.why__list {
   display: grid;
   grid-template-columns: repeat(3, auto);
   justify-content: space-between;
   gap: 30px;
}

.item-why {
   display: grid;
   justify-items: center;
   padding: 40px;
   text-align: center;
}

.item-why__icon {
   background: #262626;
   border-radius: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 72px;
   height: 72px;
   margin-bottom: 40px;
}


.item-why__title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.08em;
   color: #FFFFFF;
   margin-bottom: 12px;
}

.item-why__text {
   font-size: 14px;
   line-height: 1.5;
   max-width: 230px;
   text-transform: capitalize;
}

@media (max-width: 991.98px) {
   .why {
      padding: 50px 0 50px;
   }

   .why__list {
      grid-template-columns: repeat(2, auto);
      justify-content: center;
   }

   .item-why:nth-child(3) {
      grid-column: span 2;
   }

   .why__title {
      margin-bottom: 50px;
   }
}

@media (max-width: 767.98px) {
   .why__title {
      margin-bottom: 30px;
   }

   .why__list {
      grid-template-columns: repeat(1, auto);
      justify-content: center;
      gap: 20px;
   }

   .item-why:nth-child(3) {
      grid-column: span 1;
   }

   .item-why {
      padding: 20px;
   }
}

/* ========================= REVIEWS =============================== */
.main__reviews {}

.reviews {
   padding: 240px 0 240px;
}

.reviews__container {}

.reviews__title {
   margin-bottom: 109px;
}

.title {}

.reviews__swiper {}

.swiper-reviews {}

.swiper-reviews__wrapper {}

.swiper-wrapper {}

.slide-swiper-reviews__picture {
   overflow: hidden;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 0 1 50%;
}

.slide-swiper-reviews__image::before {
   content: "";
   position: absolute;
   background: #FF6428;
   top: 50px;
   left: -80px;
   transform: rotate(-10deg);
   border-radius: 40px 0px 400px 400px;
   width: 285px;
   height: 258px;
}

.slide-swiper-reviews__image {
   width: 320px;
   height: 320px;
   position: relative;
}

.slide-swiper-reviews__image img {
   border-radius: 50%;
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: center;
}

.slide-swiper-reviews {
   display: flex !important;
}

.swiper-slide {}

.slide-swiper-reviews__image {}

.slide-swiper-reviews__body {
   flex: 0 1 50%;

}

.slide-swiper-reviews__text {
   font-size: 24px;
   line-height: 1.5;
}

.slide-swiper-reviews__text p:not(:last-child) {
   margin-bottom: 15px;
}

.slide-swiper-reviews__text:not(:last-child) {
   margin-bottom: 56px;
}

.slide-swiper-reviews__author {}

.slide-swiper-reviews__name {
   font-weight: 600;
   font-size: 24px;
   line-height: 1.5;
   color: #000000;
   margin-bottom: 8px;
}

.slide-swiper-reviews__position {
   font-weight: 500;
   font-size: 18px;
   line-height: 1.6;
   letter-spacing: 0.08em;
   text-transform: uppercase;
}


.swiper-reviews__pagination {
   display: flex;
   justify-content: flex-end;
   transform: translate(0px, -100%);
}

.swiper-reviews__pagination .swiper-pagination-bullet {
   opacity: 1;
   background: #C4C4C4;
   border-radius: 20px;
   flex: 0 0 10px;
   height: 16px;
   transition: all 0.3s ease 0s;
}

.swiper-reviews__pagination .swiper-pagination-bullet-active {
   background: #FF6428;
   flex: 0 0 24px;
}

.swiper-pagination {}

@media (max-width: 1230px) {
   .reviews__swiper.swiper {
      margin-left: -15px;
   }
}

@media (max-width: 991.98px) {
   .reviews {
      padding: 80px 0 80px;
   }

   .reviews__title {
      margin-bottom: 70px;
   }

   .slide-swiper-reviews {
      flex-direction: column;
      /* justify-content: center; */
   }

   .slide-swiper-reviews__body {
      padding-left: 15px;
   }

   .slide-swiper-reviews__picture {
      margin-bottom: 25px;
   }

   .swiper-reviews__pagination.swiper-pagination {
      position: relative;
      bottom: 0;
      justify-content: center;
      transform: translate(0px, 0px);
      padding-top: 25px;

   }
}

@media (max-width: 767.98px) {
   .reviews {
      padding: 30px 0 30px;
   }

   .reviews__title {
      margin-bottom: 30px;
   }
}

@media (max-width: 470.98px) {
   .slide-swiper-reviews__image {
      width: 270px;
      height: 270px;
   }

   .slide-swiper-reviews__image::before {
      content: "";
      position: absolute;
      background: #FF6428;
      top: 50px;
      left: -80px;
      transform: rotate(-10deg);
      border-radius: 40px 0px 400px 400px;
      width: 225px;
      height: 187px;
   }

   .slide-swiper-reviews__text {
      font-size: 18px;
   }

   .slide-swiper-reviews__text:not(:last-child) {
      margin-bottom: 25px;
   }
}

/* ====================== FAVORITE  ============================ */
.favorite {
   padding-bottom: 120px;
}

.favorite__container {
   display: flex;
   align-items: center;
}

.favorite__body {
   padding-right: 20px;
   flex: 0 1 50%;
}

.favorite__title {
   text-align: left;
   font-size: 48px;
   margin-bottom: 60px;
   line-height: 140%;
}

.title {}

.favorite__apps {}

.apps-favorite {
   display: flex;
   gap: 25px;
}

.apps-favorite__item {}

.apps-favorite__item img {
   max-width: 100%;
}

.favorite__image {
   flex: 0 1 50%;
   text-align: center;
}

.favorite__image img {
   max-width: 100%;
}

@media (max-width:991.98px) {
   .favorite {
      padding-bottom: 50px;
   }

   .favorite__container {
      flex-direction: column;
   }

   .favorite__title {
      font-size: 38px;
   }

   .favorite__title {
      margin-bottom: 25px;
   }

   .favorite__body {
      padding-right: 0px;
   }
}

@media (max-width:767.98px) {
   .favorite {
      padding-bottom: 30px;
   }
}

/* ===========================   FOOTER =================================== */
.footer {
   background: #EEEEEE;
   padding: 80px 0 40px;
}

.footer__container {}

.footer__body {}

.body-footer {
   display: flex;
   gap: 35px;
   margin-bottom: 80px;
}

.body-footer__column {}

.body-footer__column-full {
   flex: 1 1 auto;
}

.body-footer__logo {
   display: inline-block;
   margin-bottom: 28px;

}

.body-footer__contacts {}

.contacts-footer {}

.contacts-footer__item {}

.contacts-footer__link {
   display: inline-block;
   line-height: 24px;
   padding-left: 44px;
   position: relative;
}
.contacts-footer__link:hover::before{
   content: "";
   width: 100%;
   height: 3px;
   background: #FF6428;
   position: absolute;
   bottom: -5px;
}


.contacts-footer__link-mail {
   background: url(../img/footer/sms.svg) left no-repeat;
   margin-bottom: 20px;
}

.contacts-footer__link-location {
   background: url(../img/footer/location.svg) left no-repeat;
}

.body-footer__menu {}

.menu-footer {
   display: flex;
   gap: 120px;
   justify-content: center;
}

.menu-footer__column {
 
}

.menu-footer__title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   color: #121212;
   margin-bottom: 20px;
}

.menu-footer__list {}

.menu-footer__item:not(:last-child){
   margin-bottom: 16px;
}
.menu-footer__item {}

.menu-footer__link {
   color: #666;
   position: relative;
   transition: all 0.3s ease 0s;
}
.menu-footer__link:hover::before{
   content: "";
   width: 100%;
   height: 3px;
   background: #FF6428;
   position: absolute;
   bottom: -5px;
}

.body-footer__social {}

.social-footer {}

.social-footer__title {
   text-transform: uppercase;
   font-weight: 600;
   font-size: 18px;
   line-height: 1.5;
   color: #121212;
   margin-bottom: 12px;
}

.social-footer__list {
   display: flex;
   gap: 30px;
   align-items: center;
}

.social-footer__item {}

.social-footer__link {}

.footer__copy {
   padding-top: 80px;
   text-align: center;
}

@media (max-width:991.98px){
   .footer{
     padding: 30px 0 30px;
   }
   .body-footer{
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;
   }
   .body-footer__column:first-child{
      flex: 1 1 100%;
   }
   .body-footer__column-full{
      flex: 0 1 50%;
   }
   .menu-footer{
      display: flex;
      gap: 50px;
      justify-content: space-between;
   }
}
@media (max-width:767.98px){
   .footer__copy{
      padding-top: 50px;
   }
   .body-footer{
      margin-bottom: 30px;
   }
}
